/*Variables*/
@import "variables";
@import "funciones";
@import "footer";
/*podria ocupar con formato grid*/

/*ID para guardar desafio*/

#titulodesafio{
	align-content: center;
	font-family: 'Open Sans', sans-serif;
	color: red;
}


/*/*aplicando estilo genenal*/
*{
	margin: 0px;	
	padding: 0px;
	box-sizing: border-box;	
/*	font-family: 'Spectral', serif;*/
}

/*medidas Body*/
body{
	width: 100%;
	height: 600px;
	background-color: white;
	overflow: scroll;
}


/*Aplicando estilo por etiqueta*/
h1{
	color:$color-principal;
	font-size: 20px;
	font-weight: bold;
	font-family: arial;
}


/*configuracion Menus*/
li{
	padding: 8px;
	display: inline-block;
	position: relative;
	/*font-size: 30px;*/
	/*width: 25%;*/
}

/*ul ul{
	position: absolute;
	display: none;
}*/


/*Aplicando estilo al Header y footer*/
header{
	font-family: 'Open Sans', sans-serif;
	/*margin: 10px;*/
	width: 100%;
	background-color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-between;
	align-items: center;

	/*float:;*/
/*	position: fixed;*/
/*	height: 500px;*/
}

/*centrar el menu principal*/
.centrar{
	display: flex;
	justify-content: center;
	align-content: center;
	/*width: 1000px;*/
}

.contenedorLogo{
	background-color: white;
	align-content: left;
	/*width: 200px;*/
	display: flex;
	margin: 10px;
	/*justify-content: flex-start;*/
	/*flex-direction: row;*/ /*que se ordene alreves row-reverse*/
	/*flex-wrap: wrap;*/ /*nowrap los acomodo y wrap hace salto de linea*/
	/*justify-content: center;*/ /*para alinear el grupo de flexbox: center, flex-start space-between flex-evenly*/
	/*align-items: center ;*//*para alinear eje secundario, dejar las cajas al final del contenedor principal: flex-start*/
	/*overflow: hidden;*/
	/*margin: 20px 50px 50px 150px;*/
	/*align-content: space-around;*/
	
	/*padding-left: 20px;*/
}



	/*prueba de colocar imagenes de fondo en el header*/
	
	/*background-image: url("dyc4.jpg");
	background-repeat: repeat-y;
	background-position: right;
	*/


main{
	margin: 20px;
	font-family: 'Open Sans', sans-serif;
	color: #4F4F4F;
	width: 100%;
/*	height: 200px;*/
}

form{
	font-family: 'Open Sans', sans-serif;
	color: #4F4F4F;
	/*padding: 3px;*/
}
td{
	padding: 10px;
	border-top: #4F4F4F 5px solid;
	border-left: #1a208f 5px double;
	border-right:#1a208f 5px double; 
	border-bottom: #4F4F4F 5px solid;
}


/*Aplicando estilo por Clase*/
.pendiente{
	color:red;
}


.configuracionMenu{
	list-style-type: none;
	list-style-position: outside;
	text-align: center;
	/*float: left;*/
	display: inline-flex;

}
.configuracionMenu1{
	list-style-type: none;
	list-style-position: outside;
	text-align: center;
	/*float: left;*/
	display: none;
	font-size: 15px;

}

ul ul li{
	display: inline-flex;
	
}

div ul li:hover ul{
	display: inline-flex;
}

.tipografiaTitulos{
	font-weight: bold;
	font-size: 25px;
	text-align: left;
	text-decoration: none;
	color:$color-principal;

}




.tipografiaSubtitulos{
	@extend %fuenteComun;
	font-size: 20px;
}


.tipografiaMenu{
	@extend %fuenteComun;
	font-size: 20px;
}

.tipografiaArticulos{
	font-size: 15px;

}

.tipografiaFormContacto{
	@extend %fuenteComun;
	font-size: 18px;
	font-weight: bold;
}

.tipografiaFormContactoSubtitulo{
	@extend %fuenteComun;
	font-size: 15px;
	font-weight: bold;
}
.tipografiaGenerales{
	font-family: 'Open Sans', sans-serif;
	/*color:  black;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding-top: 120px;*/


}
/*Aplicando estilo por ID*/

#textArea{
	height: 50px;
	width: 80%;
	align-content: center;
	font-family: 'Open Sans', sans-serif;
	color: #4F4F4F;
}

/*p{
	display: inline;
}*/


/*BoxModeling index.html*/
.contenedor{
	padding: 30px;
	height: 300px;
	width: 300px;
	background-color: pink;
	font-size: 15px;
	overflow: hidden;
	margin: 20px 5px 5px 40%;
	text-align: center;
	align-content: left;
	/*border-color: blue;
	border-style: double;
	border-width: 10px;*/
	border: double 10px red;

}
/*BoxModeling empresas.html*/
/*flexbox*/

main div{
	margin-left: 200px;	
	padding: 0px;
}

main div div{
	margin: 0px;	
	padding: 0px;
}


.contenedor1{
	background-color: white;
	width: 1000px;
	height: 600px;
	display: flex;
	flex-direction: row; /*que se ordene alreves row-reverse*/
	flex-wrap: wrap; /*nowrap los acomodo y wrap hace salto de linea*/
	justify-content: center; /*para alinear el grupo de flexbox: center, flex-start space-between flex-evenly*/
	/*align-items: center ;*//*para alinear eje secundario, dejar las cajas al final del contenedor principal: flex-start*/
	/*overflow: hidden;*/
	/*margin: 20px 50px 50px 150px;*/
	align-content: space-around;
	
	/*padding-left: 20px;*/
}


.contenedor2{
	display: flex;
}



.hijo1{
	@include cambiarColorFondo(white);
	@extend %fuenteComunHijos;

}

.hijo2{
	@include cambiarColorFondo(white);
	@extend %fuenteComunHijos;
	order: 1;

}

.hijo3{
	@include cambiarColorFondo(white);
	@extend %fuenteComunHijos;
}
.hijo4{
	@include cambiarColorFondo(white);
	@extend %fuenteComunHijos;
}
.hijo5{
	@include cambiarColorFondo(white);
	@extend %fuenteComunHijos;
	/*top: 10px;
	position: sticky; no me funciono*/
}
.hijo6{
	@include cambiarColorFondo(white);
	@extend %fuenteComunHijos;
}

